body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 8vmin;
	margin: 0;
}

.pad {
	display: flex;
	flex-direction: column;
	width: 75vmin;
	height: 75vmin;
	border: 4px solid black;
	user-drag: none;
	user-select: none;
}

.row {
	display: flex;
	flex: 1;
}

.row * {
	flex: 1;
}

.newGrid,
.colour,
.modeButton {
	border: 4px solid black;
	background-color: #E8A2AD;
	height: 5vh;
	width: 10vw;
}

.right {
	display: flex;
	flex-direction: column;
	gap: 4vh;
}

.modeButton,
.newGrid {
	cursor: pointer;
}

.selected {
	border: 4px solid #8B9C7C;
}

.container {
	padding: 2vmin;
	display: flex;
	justify-content: space-between;
}

h2 {
	font-family: SquareAntiquaBookOblique;
	font-size: 5vh;
	margin: 0;
	text-align: center;
	;
}